<h2>New Post</h2>


<%= form_with model: @post do |form|%>
  <div class="field">
    <%= form.label :title, "Title", class:"label" %><br>
    <% @post.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
    <%= form.text_field :title, placeholder: "Enter your title here", class:"text-field new-post-input"%>
  </div>

  <div class="field">
    <%= form.label :body, "Body" %><br>
    <% @post.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
    <%= form.text_area :body, class:"text-area new-post-input"%>
  </div>

  <%= form.submit "submit", class:"button new-post-button"%>
<%end%>
